# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Shared objects
*.so

# Distribution / packaging
build/
*.egg-info/
*.egg

# Temporary files
*.swn
*.swo
*.swp

# Dataset symlinks
detectron/datasets/data/*
!detectron/datasets/data/README.md
!detectron/datasets/data/fs/README.md
!detectron/datasets/data/fs/test-manifest.txt
!detectron/datasets/data/fs/train-manifest.txt
!detectron/datasets/data/fs/val-manifest.txt

# Generated C files
detectron/utils/cython_*.c

# models
models/*
!models/README.md
